@import '../../../styles/colors.scss';

.navBarDiv {
    position: relative;
}

.navBarUl {
    display: flex;
    list-style: none;
    a {
        text-decoration: none;
        color: $text-dark-gray;
        margin-right: 25px;
        font-size: 20px;

        &:hover {
            color: rgb(195, 195, 195);
        }

        &.active {
            color: rgb(174, 163, 6);
        }
    }
}

.menuDiv {
    display: none;
}



@media screen and (max-width: 700px) {

    .navBarUl {
        display: none;
    }

    .menuDiv:hover .navBarUl {
        display: flex;
    }

    .menuDiv {
        margin-right: 20px;
        display: block;
        cursor: pointer;
        padding: 5px;
    }
}