@import '../../../styles/colors.scss';

.cl  {
    height: 100px;
    align-items: center;
    color: $text-dark-gray;
    display: flex;
    justify-content: space-between;
    
    h1  {
        margin-left: 20px;

        span {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 350px) {
    h1 > span  {
        display:  none;
    }
}